body {
	margin: 0px;
	width: 320px;
	margin-left: 14px;
	margin-right: 14px;
	margin-bottom: 10px;
}
.fnt {
	font-family: courier;
	font-size: 14px;
}
.mo {
	cursor: pointer;
}
.fr {
	float: right;
}
.x {
	margin-top: 2px;
	margin-left: 4px;
}
.hd {
	float: right;
	margin-bottom: 8px;
	margin-top: 8px;
}
.ip {
	width: 100%;
	box-sizing: border-box;
	padding: 4px;
	margin-bottom: 8px;
}
.n {
	margin-bottom: 8px;
	word-wrap: break-word;
}
.ft {
	border-top: solid 1px #808080;
	padding-top: 8px;
	text-align: center;
}
